        </div>
        <div id="footer">
            <div class="container">
                <div class="row">
                    <div id="copyright" class="col-sm-8">
                        <%= siteName %> Copyright &copy; 2017 Comp (alexram1313)
                    </div>
                    <div id="foot-links" class="col-sm-4">
                        <a href="https://github.com/alexram1313/ps-halloffame" target="_blank">GitHub</a>
                        &nbsp;
                        <span style="color:white;">DEV</span>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>
