<html>

<head>
    <title>
        <% if (title) {%>
            <%= title+' - ' %>
        <% } %>
        <%= siteName %>
    </title>

    <meta name="theme-color" content="#5697ff">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" id="screenr-fonts-css" href="https://fonts.googleapis.com/css?family=Open%2BSans%3A400%2C300%2C300italic%2C400italic%2C600%2C600italic%2C700%2C700italic%7CMontserrat%3A400%2C700&amp;subset=latin%2Clatin-ext" type="text/css" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="/"><%= siteName %></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/vote">Vote</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">HOF Results<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/results/artist">Best Artist</a></li>
                            <li><a href="/results/css">Best Custom CSS</a></li>
                            <li><a href="/results/admin">Best Admin</a></li>
                            <li><a href="/results/friendliest">Friendliest User</a></li>
                            <li><a href="/results/nonpony">Best Non-pony</a></li>
                            <li><a href="/results/techie">Favorite Techie</a></li>
                            <li><a href="/results/musician">Fave. Musician</a></li>
                            <li><a href="/results/page">Favorite Page</a></li>
                            <li><a href="/results/forum">Fave. Forum RP</a></li>
                            <li><a href="/results/moment">Fave. Moments</a></li>
                            <li><a href="/results/hugger">Best Hugger</a></li>
                            <li><a href="/results/oc">Best OC</a></li>
                            <li><a href="/results/roleplayer">Best Roleplayer</a></li>
                            <li><a href="/results/mentions">Honorable Mentions</a></li>
                            <li><a href="/results/remarks">Misc. Remarks</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Demographics<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/demo/country">Country</a></li>
                            <li><a href="/demo/subpol">Subpol. Division</a></li>
                            <li><a href="/demo/gender">Gender</a></li>
                            <li><a href="/demo/nextsite">After PonySquare</a></li>
                        </ul>
                    </li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <% if (!title) {%>
            <div class="jumbotron text-center" id="frontjumbo" >
                <h2><img src="/public/images/ps-logo.png" height="80px"/><br/>Hall of Fame</h2>
                <!--<h2><%= siteName %></h2>-->
            </div>
    <% } %>
    

<!--5697ff-->