<html>

<head>
    <title>
        <% if (title) {%>
            <%= title+' - ' %>
        <% } %>
        PonySquare Hall of Fame
    </title>

    <meta name="theme-color" content="#5697ff">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" id="screenr-fonts-css" href="https://fonts.googleapis.com/css?family=Open%2BSans%3A400%2C300%2C300italic%2C400italic%2C600%2C600italic%2C700%2C700italic%7CMontserrat%3A400%2C700&amp;subset=latin%2Clatin-ext" type="text/css" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>

    <div class="jumbotron text-center" style="background-color:#5697ff; color:white;">
        <h1>PonySquare Hall of Fame</h1>
    </div>