#footer {
	background-color:black;
	color:#ccc;
	padding:25px 0px;
	font-size:0.8em;
	overflow:hidden;
}

#foot-links{
    text-align:right;
}

.navbar-inverse{
    background-color:#a6dff8;
    color:#ccc;
}

.navbar-inverse .navbar-brand {
    color:#000;
}
.navbar-inverse .navbar-nav>li>a {
    color: #000;
}

#frontjumbo {
    padding-top: 48px;
    padding-bottom: 30px;
    background-color:#43addc; 
    color:white;
}

#page-header {
    margin: 70px 0 20px;
}