<% layout('../layouts/layout') %>

<!--
    Feel free to customize the about page how ever you'd like here or in ../../siteinfo.js. 
    When designing, please note you may use Bootstrap classes and EJS-passed variables.
-->

<%- aboutPageHtml %>

<% if(aboutPageShowVoteCount) { %>
    <h3>Current Response Total: <%= total %></h3>
<% } %>

<h3>Licenses:</h3>
<ul>
    <li>
        PS-HOF by Alex I. Ramirez - Original work to be used under the <a href="https://github.com/alexram1313/ps-halloffame/blob/master/LICENSE" target="_blank">GNU General Public License v3.0</a>
    </li>
    <li>
        Body Parser by Jonathan Ong, Douglas Christopher Wilson - Used under the <a href="https://github.com/expressjs/body-parser/blob/master/LICENSE" target="_blank">MIT License</a>
    </li>
    <li>
        Chart.js by Nick Downie - Used under the <a href="https://github.com/chartjs/Chart.js/blob/master/LICENSE.md" target="_blank">MIT License</a>
    </li>
    <li>
        EJS by Matthew Eernisse - Used without modification under the <a href="https://github.com/mde/ejs/blob/master/LICENSE" target="_blank">Apache License 2.0</a>
    </li>
    <li>
        Express by TJ Holowaychuk et al. - Used under the <a href="https://github.com/expressjs/express/blob/master/LICENSE" target="_blank">MIT License</a>
    </li>
    <li>
        Mongoose by LearnBoost - Used under the license stated <a href="https://github.com/Automattic/mongoose#license" target="_blank">here</a>
    </li>
</ul>
