<% layout('../layouts/layout') %>

<!--
    Feel free to customize the about page how ever you'd like here or in ../../siteinfo.js. 
    When designing, please note you may use Bootstrap classes and EJS-passed variables.
-->

<%- aboutPageHtml %>

<% if(aboutPageShowVoteCount) %>
    <h3>Current Response Total: <%= total %></h3>
<% } %>
