<% layout('../layouts/layout') %>

<div data-ng-app="graphApp" data-ng-controller="graphCtrl" data-ng-init="setCurrCode('<%= parent %>', '<%= option %>')">

    <div class="row">
        <div class="col-sm-6">
            <h3>Graph</h3>
            <canvas id="graphPie" width="400" height="400"></canvas>
            <script>
                var demoPieData = {
                    datasets: [{
                        data: [],
                        backgroundColor:[]
                    }],
                    labels: []
                };
                var myPieChart = new Chart("graphPie",{
                    type: 'pie',
                    data: demoPieData,
                    options: Chart.defaults.pie
                });
            </script>
            
        </div>
        <div class="col-sm-6">
            <h3>Data</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Entry</th>
                            <th># of Votes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="kvp in tabularResults | orderBy:'-n'">
                            <td data-ng-bind="kvp.e"></td>
                            <td data-ng-bind="kvp.n"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script src="/public/js/graphNg.js"></script>