<% layout('../layouts/layout') %>

<!--
    Feel free to customize the home page how you'd like. 
    When designing, please note you may use Bootstrap classes and EJS-passed variables.
-->

<div class="row">
    <div class="col-sm-12">
        <h3>Are you a winner?</h3>
        <p>
            We'd like to hear from you! 
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h3>Vote</h3>
        <p>
            Help us make history. Please be advised that your IP Address hash will be recorded
            to prevent duplicate entries; however, we promise not to give it away.
        </p>
        <a href="/vote"><button type="button" class="btn btn-primary">Vote</button></a>
    </div>
    <div class="col-sm-6">
        <h3>Results</h3>
        <p>
            See what <%= total %> people said.
        </p>
        <ul>
            <% for(var i=0; i<parents.length; ++i) { %>
                <% for(var j=0; j<parents[i].categories.length; ++j) {%>
                    <li>
                        <a href="/<%= parents[i].code %>/<%= parents[i].categories[j].code %>">
                            <%= parents[i].categories[j].shortName %>
                        </a>
                    </li>
                <% } %>
            <% } %>
        </ul>
    </div>
</div>