<% layout('../layouts/layout') %>

<div class="row">
    <div class="col-sm-12">
        <h3>Are you a winner?</h3>
        <p>
            We'd like to hear from you! Please contact alexram1313#7060 on Discord and give us your acceptance 
            speech along with a recent character picture.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h3>Vote</h3>
        <p>
            Help us immortalize the PonySquare legacy and make history!
            If you haven't already, tell us who you think were the most notable, most influential,
            and friendlist users on the site. Please be advised that your IP Address will be recorded
            to prevent duplicate entries; however, we promise not to give it away.
        </p>
        <a href="#"><button type="button" class="btn btn-primary">Vote</button></a>
    </div>
    <div class="col-sm-6">
        <h3>Results</h3>
        <p>
            See who <%= total %> people said should forever be a part of
            PonySquare history.
        </p>
        <ul>
            <li><a href="#">Best Artist</a></li>
            <li><a href="#">Best Custom CSS</a></li>
            <li><a href="#">Best Admin</a></li>
            <li><a href="#">Friendlist User</a></li>
            <li><a href="#">Best Non-pony</a></li>
            <li><a href="#">Favorite Techie</a></li>
            <li><a href="#">Favorite Musician</a></li>
            <li><a href="#">Favorite Page</a></li>
            <li><a href="#">Favorite Forum RP</a></li>
            <li><a href="#">Favorite Moments</a></li>
            <li><a href="#">Best Hugger</a></li>
            <li><a href="#">Best OC</a></li>
            <li><a href="#">Best Roleplayer</a></li>
            <li><a href="#">Honorable Mentions</a></li>
            <li><a href="#">Misc. Remarks</a></li>
        </ul>
    </div>
</div>