<% layout('../layouts/layout') %>

<div ng-app="listApp" ng-controller="listCtrl" ng-init="setCurrCode('<%= parent %>', '<%= option %>')">

    <p><%= optDesc %></p>

    <ul>
        <li data-ng-repeat="(k,v) in results" >
            <span data-ng-bind="k">Loading...</span>
        </li>
    </ul>

    <p>Congratulations to all the nominees!</p>

</div>
<script src="/public/js/listNg.js"></script>