<% layout('../layouts/layout') %>

<div data-ng-app="winnerApp" data-ng-controller="winnerCtrl" data-ng-init="setCurrCode('<%= parent %>', '<%= option %>')">

    <div class="row">
        <div class='col-sm-8'>
            <h2>Winner: <span data-ng-bind="winner"></span></h2>
            <p><%= optDesc %></p>
            <p data-ng-hide="!speeches.length"><a href="#acceptanceSpeeches">Click here for the acceptance speeches.</a></p>
        </div>
        <div class='col-sm-4' style="text-align:right;">
            <div class="imgContainer" style="float:right;" data-ng-repeat="win in winners">
                <img class="img-responsive img-thumbnail" data-ng-src="/public/images/winners/{{ win }}.png" algin='right' height="100px"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h3>Graph</h3>
            <canvas id="demoPie" width="400" height="400"></canvas>
            <script>
                var demoPieData = {
                    datasets: [{
                        data: [],
                        backgroundColor:[]
                    }],
                    labels: []
                };
                var myPieChart = new Chart("demoPie",{
                    type: 'pie',
                    data: demoPieData,
                    options: Chart.defaults.pie
                });
            </script>
            
        </div>
        <div class="col-sm-6">
            <h3>Data</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Entry</th>
                            <th># of Votes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="kvp in tabularResults | orderBy:'-n'">
                            <td data-ng-bind="kvp.e"></td>
                            <td data-ng-bind="kvp.n"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <p>Congratulations to all the nominees!</p>
    
    <div id="acceptanceSpeeches" data-ng-hide="!speeches.length">
        <h3>Acceptance Speech(es)</h3>
        <ul>
            <li data-ng-repeat="speech in speeches">
                <h4 data-ng-bind="speech.user"></h4>
                <p data-ng-bind="speech.speech"></p>
            </li>
        </ul>
    </div>

</div>

<script src="/public/js/winnerNg.js"></script>